<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>SENTINEL HIRARC</title>
    <!-- Custom CSS -->
    <link href="assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <!--Trumbowgy CSS -->
    <link rel="stylesheet" href="./libs/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="./libs/trumbowyg/dist/plugins/table/ui/trumbowyg.table.min.css">
    <link rel="stylesheet" href="./libs/trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <style>
        /* Style the overlay */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        /* Style the form */
        .popout-form {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style>
    <!-- Select2 CDN
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script> -->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="index.html">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" width="50" />
                                <!-- Light Logo icon -->
                                <img src="assets/images/logo-icon.png" alt="homepage" class="light-logo" width="50" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" width="150" />
                                <!-- Light Logo text -->
                                <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"
                                    width="150" />
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">


                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark">Jason Doe</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="power"
                                        class="svg-icon mr-2 ml-1"></i>
                                    Logout</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <ul id="sidebarnav">
                            <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="dashboard.jsp"
                                    aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                        class="hide-menu">
                                        <%= Translator.INSTANCE.translate("DASHBOARD_TTL", languageCd)%>
                                    </span></a></li>

                            <li class="list-divider"></li>

                            <li class="nav-small-cap"><span class="hide-menu">Letter Maintenance</span></li>

                            <li class="sidebar-item"> <a class="sidebar-link" href="testing1.html"
                                    aria-expanded="false"><i class="fas fa-envelope"></i><span class="hide-menu">
                                        Letter Template Maintenance
                                    </span></a>

                            <li class="sidebar-item superadmin"> <a class="sidebar-link" href="testing2.html"
                                    aria-expanded="false"><i class="fas fa-cogs"></i><span class="hide-menu">
                                        Letter Generation
                                    </span></a>

                            <li class="sidebar-item superadmin"> <a class="sidebar-link" href="testing3.html"
                                    aria-expanded="false"><i class="fas fa-database"></i><span class="hide-menu">
                                        Database Information Management
                                    </span></a>

                            <li class="sidebar-item superadmin"> <a class="sidebar-link" href="testing4.html"
                                    aria-expanded="false"><i class="fas fa-search"></i><span class="hide-menu">
                                        Search Letter Template
                                    </span></a>

                            <li class="list-divider"></li>

                            <li class="nav-small-cap"><span class="hide-menu">
                                    <%= Translator.INSTANCE.translate("MAINT_MENU", languageCd)%>
                                </span></li>

                            <li class="sidebar-item superadmin"> <a class="sidebar-link" href="company_maint.jsp"
                                    aria-expanded="false"><i class="far fa-building"></i><span class="hide-menu">
                                        <%= Translator.INSTANCE.translate("CPY_CRUD_TITLE", languageCd)%>
                                    </span></a>
                            <li class="sidebar-item superadmin"> <a class="sidebar-link" href="user_maint.jsp"
                                    aria-expanded="false"><i class="far fa-address-book"></i><span class="hide-menu">
                                        <%= Translator.INSTANCE.translate("MAINT_USR_MENU", languageCd)%>
                                    </span></a>
                        </ul>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper position-relative">
            <div class="col-lg-12 col-md-7 ">
                <div class="card">
                    <div class="card-body">

                        <h3 class="card-title mb-3  text-primary">
                            Letter Template Maintenance
                        </h3>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                            </div>
                            <div class="col-lg-4 col-md-12 mb-4"></div>
                            <div class="col-lg-2 col-md-12 mb-4 mt-1" id="button">
                                <button type="submit" class="btn btn-rounded btn-success pl-3 pr-3" data-toggle="modal"
                                    data-target="#addCompany" id="add_company" onclick="submitLetter()">
                                    <i class="fas fa-check"></i>
                                    Submit
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 row ">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group col-lg-12">
                                    <div class="col-lg-10">
                                        <label for="template_name">
                                            Template Name:
                                        </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="template_name" name="template_name"
                                            placeholder="Enter Template Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group col-lg-12">
                                    <div class="col-lg-10">
                                        <label for="template_title">
                                            Template Title:
                                        </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="template_title"
                                            name="template_title" placeholder="Enter Template Title" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>

                        <div class="col-lg-12 col-md-12 col-sm-12 row ">
                            <div class="col-lg-9 col-md-12 col-sm-12">
                                <div class="form-group col-lg-12">
                                    <div class="container p-0 shadow">
                                        <div id="editor" style="height: 500px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-group col-lg-12">
                                    <div class="container p-3 shadow">
                                        <h6 class="text-primary">Available Variable (VARFIELD)</h6>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addCompany">Company/Branch</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addWebsite">Website</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addAddress">Address</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addOfficeNo">Office Number</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addHighPost">Higher Position</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addName">Name</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addPaName">PA's Name</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addPaPhone">PA's Phone No.</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addPaEmail">Email PA</button>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <button type="submit" class="btn btn-primary pl-3 pr-3"
                                                style="width: 170px;" id="addCEOWebsite">Website for CEO</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="dist/js/app-style-switcher.js"></script>
    <script src="dist/js/feather.min.js"></script>
    <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="assets/extra-libs/c3/d3.min.js"></script>
    <script src="assets/extra-libs/c3/c3.min.js"></script>
    <script src="assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="dist/js/pages/dashboards/dashboard1.min.js"></script>
    <!--Trumbowgy -->
    <script src="./libs/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="./libs/trumbowyg/dist/plugins/table/trumbowyg.table.min.js"></script>
    <script src="./libs/trumbowyg/dist/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mammoth@1.4.8/mammoth.browser.min.js"></script>
    <!-- Functionality -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('#myTabs a.nav-link').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $("#username").text(session.get("username", ""));

            if (session.get("X-AUTH-TOKEN", null) === null)
                window.location.replace('<%= MiscUtility.getServerIP()%>' + '/panel/index.jsp');
            var auth = session.get("auth", null);
            if (auth !== null) {
                if (auth !== "S")
                    $(".superadmin").addClass("d-none")
            }
        });
    </script>
    <script>
        $('#editor').trumbowyg({
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['foreColor', 'backColor'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['table', 'tableCellBackgroundColor', 'tableBorderColor', 'tableOthers'],
                ['fullscreen']
            ],
            plugins: {
                table: {
                }
            }
        });

        // Add an event listener for Trumbowyg content changes
        $('#editor').on('tbwchange', function () {
            // Get the current HTML content of the editor
            var trumbowygContent = $('#editor').trumbowyg('html');

            // Split the content into words
            var words = trumbowygContent.split(/\s+/).filter(Boolean);

            // Display the words in the #result div
            $('#result').text(words.join(' '));
        });

        $('#addCompany').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{company}');

        });
        $('#addWebsite').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{website}');

        });
        $('#addAddress').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{address}');

        });
        $('#addOfficeNo').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{office_no}');

        });
        $('#addHighPost').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{higher_position}');

        });
        $('#addName').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{name}');

        });
        $('#addPaName').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{pa_name}');

        });
        $('#addPaPhone').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{pa_phone}');

        });
        $('#addPaEmail').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{pa_email}');

        });
        $('#addCEOWebsite').click(function () {
            // Get the Trumbowyg editor instance
            var trumbowygEditor = $('#editor').trumbowyg();

            // Add text to the editor
            trumbowygEditor.trumbowyg('html', trumbowygEditor.trumbowyg('html') + '{website_ceo}');

        });
    </script>

</body>

</html>